/* Pagination Leaderboard Styles */

h1, h2, h3, h4, p, svg, img {
  cursor: pointer;
}

.pagination {
  display: flex;
  margin: 2.5rem auto 1rem auto;
  justify-content: space-around;
  color: #fff;
  list-style: none;
}

li.active {
  color: #398FD6;
}